
/* @layer components{} can be ignored. */

/* @layer components {
  .main {
		@apply h-screen flex flex-col justify-center items-center;
    background-color: pink;

    & h1 {
      @apply text-center text-7xl;
			color: red;
    }
  }
} */
::-webkit-scrollbar {
  width: 12px;
  /* height: 20px; */
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(231, 228, 228);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C1C1C1;
  border-radius: 10px;
}

/* .seat::before{
  position: absolute;
  contain: "";
  width: 30px;
  height: 20px;
  transform: rotate(45%);
  left: 0;
  bottom: 100%;

} */